@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-100 text-neutral-800 antialiased font-sans;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-display font-bold text-neutral-900;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-neutral-100;
}
::-webkit-scrollbar-thumb {
  @apply bg-neutral-300 rounded-full hover:bg-neutral-400 transition-colors;
}
